html, body{
    font-family: "open sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color:#f5f5f5;
    color: black;
    min-height: 768px;
}
* {
    box-sizing: border-box;
}

.nav-link {
    color: white;
}